@import '../../../../styles/scss/index';
.user{
    &-profile {
        width: 100%;
        padding: 0 0 100px 0;

        &-label {
            @include label-form;
            color: $color-black;

            @media screen and (max-width: 480px){
                width: 300px;
            }
        }

        &-form {
            @include grid-form;
            grid-auto-flow: column;
            grid-column-gap: 54px;
        }

        &-button{
            width: 237px;
            height: 54px;

            box-sizing: border-box;
            border-radius: 3px;

            font-size: 17px;

            text-transform: uppercase;

            background-color: $color-green-1;
            color: $color-white;
        }

        &-section{
            max-width: 480px;
        }
    }
}
.containerFromUserProfile{
  display: grid;
  grid-template-columns: 200px;
}
.user{

  //display: grid;
  //grid-template-columns: 200px 1000px;
}
.editFrom-user{
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
  width: 350px;
  height: 50px;
    @media screen and (max-width: 480px){
        width: 300px;
        margin: 0 0 0 0;
    }
}
