.loginForm-container{
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
  width: 350px;
  height: 50px;
}
.buttonAuth{
  width: 350px;
  height: 44px;
  background: #007042;
  border-radius: 3px;
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
