.order {
    display: grid;
    grid-template-columns: repeat(2, 485px);
    grid-gap: 15px;
    justify-content: center;
    padding: 0 0 20px 0;
    @media only screen and (max-width : 984px){
        grid-template-columns: 485px;
        grid-template-rows: auto;
    }

    @media only screen and (max-width : 480px){
        grid-template-columns: 320px;
        grid-template-rows: auto;
    }
}

.form-fields{
    display: grid;
    span{
        margin: 23px 0 7px 0;
    }
}

