$title-color: #2E3438;
$button-color: #007042;
$button-color-two: rgb(255, 255, 255);
$font: 'Montserrat', sans-serif;

@mixin wrapper{
  box-sizing: border-box;
  //width: 1200px;
  margin: 0 auto;
  padding: 0;
}


@mixin content{
  width: 1200px;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-align-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin body-container{
  //position: relative;
  //width: 1400px;
  //box-sizing: border-box;
}
//@mixin container {
//  position: relative;
//  width: 1200px;
//  margin: 0 auto;
//  box-sizing: border-box;
//}
@mixin title-text {
    font-family: $font;
    font-weight: bold;
    font-size: 30px;
    //color:  $title-color;
}
@mixin description-text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    //color: $title-color;
}
@mixin button {
    width: 136px;
    height: 40px;
    border-radius: 4px;
    color: $button-color-two;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 96.5%;

  background-color: $button-color;
  border: none;
  outline: none;
}
@mixin price {

    font-family: $font;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;

  color: $button-color;
}


@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin confirm-green-btn{
    background: #007042;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px transparent;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin confirm-green-btn{
    background: #007042;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px transparent;
}

