.container-ModalMenu{
  position: absolute;
  width: 220px;
  z-index: 1020;
  height: 700px;
  background-color: white;

}
.container-ModalMenu__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-ModalMenu{
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.ModalMenu-link{
  list-style-type: none;
  margin: 10px 0 10px 10px;
  & .link{
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: black;

  }
}
.ModalMenu-title{
  margin: 0 0 0 10px;
}
.ModalMenu-link__container{
  margin-top: 30px;
}

