@import 'src/styles/scss/index';

.footer{
  margin-top: 50px;
    width: 100%;
    background-color: $color-gray-1;
    padding-bottom: 80px;

    &-main{
        max-width: 1200px;
        margin: 0 auto;
        padding: 55px 0 60px 20px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));

        color: $color-white;
        @media only screen and (max-width : 1200px){
            justify-items: center;
        }

        &-label{
            width: 240px;
            display: grid;
            grid-template-rows: 50px;
            grid-row-gap: 10px;

            &-description{
                font-size: 14px;
                width: 150px;
                line-height: 1.5;
            }
        }
        &-info{
            width: 240px;
            display: grid;
            grid-template-rows: 50px;
            grid-row-gap: 10px;
            &-heading{
                align-self: flex-end;
                padding: 0 0 7px 0;
                font-size: 16px;
                font-weight: 700;
            }
            &-link{
                text-decoration: none;
                color: $color-white;
                font-size: 14px;
            }
        }
        &-buyers{
            width: 240px;
            display: grid;
            grid-template-rows: 50px;
            grid-row-gap: 10px;
            &-heading{
                align-self: flex-end;
                padding: 0 0 7px 0;
                font-size: 16px;
                font-weight: 700;
            }
            &-link{
                text-decoration: none;
                color: $color-white;
                font-size: 14px;
            }
        }
        &-contacts{
            width: 240px;
            display: grid;
            grid-template-rows: 50px;
            grid-row-gap: 10px;
            &-heading{
                align-self: flex-end;
                padding: 0 0 7px 0;
                font-size: 16px;
                font-weight: 700;
            }
            &-place{
                color: $color-white;
                width: 150px;
                font-size: 14px;
                line-height: 1.5;
            }
        }
        &-subscription{
            width: 240px;
            display: grid;
            grid-template-rows: 50px;
            grid-row-gap: 10px;

            &-heading{
                align-self: flex-end;
                padding: 0 0 7px 0;
                text-decoration: none;
                color: $color-white;
                font-size: 18px;
            }

            &-label{
                display: flex;

                &-input{
                    width: 80%;
                    height: 20px;
                }

                &-icon{
                    text-decoration: none;
                    font-size: 26px;
                    color: $color-white;
                }
            }

            &-media{
                display: flex;
                align-items: center;
                font-size: 19px;

                &-icon{
                    text-decoration: none;
                    color: $color-white;
                    font-size: 32px;
                    padding: 5px;
                }
            }
        }
    }

    &-decoration-line{
        max-width: 1200px;
    }

    &-copyright{
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        color: $color-white;
        font-size: 12px;
    }
}
