.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: rgba(51, 51, 51, 0.62);
  margin: 3px 0;
  transition: 0.4s;
}

//.change .bar1 {
//  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//  transform: rotate(-45deg) translate(-9px, 6px);
//}
//
//.change .bar2 {opacity: 0;}
//
//.change .bar3 {
//  -webkit-transform: rotate(45deg) translate(-8px, -8px);
//  transform: rotate(45deg) translate(-8px, -8px);
//}

@media only screen and (min-width: 840px) and (max-width: 1200px){
  .containerDrop{
    display: none;
  }

}
