@import '../../styles/scss/index';

.thank{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;

    &-heading{
        color: $color-green-1;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-main{
        font-size: 18px;
    }

    &-btn{
        width: 265px;
        height: 56px;
        color: $color-white;
        background-color: $color-green-1;
        text-transform: uppercase;
    }

}
