.coming-container{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    &-header{
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 0.005em;
        color: #2E3438;
    }
    &-text{
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
}



