@import '../../../../styles/scss/index';

.product{
    &-view {
        display: grid;
        grid-template-columns: 70px 415px;
        grid-column-gap: 5px;

        @media only screen and (max-width : 1000px){
            grid-template-columns: 70px 390px;
        }
        @media only screen and (max-width : 480px){
            grid-template-columns: 45px 200px;
        }

        &-images {
            display: grid;
            grid-auto-rows: 70px;
            grid-template-columns: 70px;
            grid-row-gap: 24px;

            justify-items: center;

            @media only screen and (max-width : 480px){
                grid-auto-rows: 45px;
                grid-template-columns: 45px;
                grid-row-gap: 4px;
            }

            &-item {
                max-height: 100%;
                max-width: 100%;
            }
        }

        &-images div {


            @include flex-center;

            background-color: $color-gray-5;
        }

        &-active {
            display: grid;
            justify-content: center;
        }

        &-active div{
            width: 485px;
            height: 485px;
            background-color: $color-gray-5;
        }
    }
}
