.container-slider-banner {
    margin: 0 auto;
}
.slick-slider{
    margin: 0 auto;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {

  .sliderImgStyle {
        max-width: 768px;
    }
    .slick-slider {

      max-width: 768px;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {

    .sliderImgStyle {
      max-width: 480px;
    }
    .slick-slider {
      max-width: 480px;
    }
    .title-slider, .discription-slider, .discription-slider-p {
        display: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {

    .sliderImgStyle {
      max-width: 320px;
    }
    .slick-slider {
      max-width: 320px;
    }

}
