@import 'src/styles/scss/index';
.containerSearch{
    position: relative;
}
.search-input{
    font-size: 14px;
    padding: 10.5px;
    outline: none;
    width: 485px;
    //margin-right: 250px;
}

.fa-search{
    position: absolute;
    top: 0;
    z-index: 3;
    left: 460px;
    font-size: 40px;
    padding: 0 5px;
    background: $color-gray-1;
    color: $color-white;

}
.search{
    position: absolute;
    z-index: 1;
    width: 470px;
    list-style: none;
    display: none;
    height: 400px;
    background-color: rgba(216, 219, 219, 0.37);
    top: 25px;
    margin-right: 250px;
}
.search-item{
    text-decoration: none;
    color: $color-black;
}

.search.found{
    display: block;
}
.search img{
    width: 20px;
    height: 20px;
}
@media only screen and (max-width : 767px){
    .search-input{
        font-size: 12px;
        width: 200px;
        height: 11px;
        position: absolute;
        margin-top: 105px;
        margin-left: 130px;
    }
    .fa-search{
        left: 7px;
        font-size: 34px;
        margin-top: 35px;
    }
    .search{
        width: 185px;
        position: absolute;
        top: 52px;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    //.wrapper{
    //    width: 400px;
    //}
    .search-input{
      width: 200px;
      font-size: 14px;
      padding: 10.5px;
      outline: none;
      margin-right: 0;
    }
    .fa-search{
        font-size: 41px;
        left: 224px;
    }
    .search{
        position: absolute;
        width: 194px;
        margin-right: 0;
        margin-left: 38px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
  .containerSearch{
    display: none;
  }

}
@media only screen and (max-width: 767px) {
  .search-input{
    margin: 0;
    max-width: 400px;
    top: 40px;

  }
  .fa-search{
    margin: 0;
    top: 41px;
    left: 381px


  }


}
.hoverLi{
  &:hover{
    background-color: rgba(90, 89, 89, 0.73);
    color: #FFFFFF;

  }
}
