.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    visibility: visible;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0s, opacity 0.5s;

    z-index: 10;

    &-content {
        max-height: 100%;
        max-width: 90%;
        overflow-y: auto;
        position: relative;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        background-color: #ffffff;

        box-sizing: border-box;
        padding: 20px;
        &-close{
            font-size: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}
