@import '../../../../styles/scss/basic-style';
.container {
  max-width: 1200px;

}

.popular-category{
    margin: 0 auto;
    @media only screen and (max-width: 480px){
        max-width: 320px;
    }
    &-title{
        @media only screen and (max-width: 840px){
            display: flex;
            justify-content: center;
        }
    }
    &-main{
        display: grid;
        grid-template-columns: 580px 580px;
        grid-gap: 20px;
        justify-items: center;

        @media only screen and (max-width : 1200px) {
            grid-template-columns: 760px;
        }
        @media only screen and (max-width : 580px) {
            grid-template-columns: 480px;
        }
        @media only screen and (max-width : 480px) {
            grid-template-columns: 320px;
        }

    }
}
