.first-item-content {
    width: 300px;
    height: 310px;
    background-color: $light;
    position: absolute;
    top: 250px;
    left: 40px;
}

.slider-img1 {
    width: 360px;
    height: 290px;
}

.blog-text {
    color: #676767;
    font-size: 13px;
    padding: 15px 20px;
}

.fa-comments {
    color: $dark;
}

.blog-btn {
    width: 165px;
    height: 45px;
    background-color: $dark;
    color: $light;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: $golden;
    }
}