@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider";

$golden: #d58e32;
$dark: black;
$light: white;



.main-text {
    font-size: 22px;
    border-bottom: 1px solid black;
}

.info-about-prods {
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 0;
}

.decoration-line {
    width: 80%;
    background-color: #2a2a2a;

    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $golden;
        left: 125px;
        bottom: 55px;
        display: block;
    }
}

.sale-pop {
    display: none;
    top: 0;
    position: absolute;
    left: 131px;
    background-color: $dark;
    width: 40px;
    height: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    cursor: pointer;

    .text-sale-pop {
        color: $light;
        font-size: 12px;
    }
}

.quick-view {
    display: none;
    background-color: $dark;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 211px;
    padding-top: 10px;
    cursor: pointer;

    .text-quick-view {
        color: $light;
        font-family: Poppins;
        font-size: 13px;
    }
}

.add-to-cart {
    display: none;
    background-color: black;
    width: 110px;
    height: 40px;
    position: absolute;
    top: 211px;
    right: 15px;
    padding-top: 10px;
    cursor: pointer;

    .text-add-to-cart {
        color: $light;
        font-family: Poppins;
        font-size: 13px;
    }
}

.hover-text-price:hover .quick-view {
    display: block;
}

.hover-text-price:hover .add-to-cart {
    display: block;
}

.hover-text-price:hover .sale-pop {
    display: block;
}

.fa-heart {
    border: 1px solid $dark;
    padding: 8px;
}

.fa-exchange-alt {
    border: 1px solid $dark;
    padding: 8px;
}

.text-price-through {
    text-decoration: line-through;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

.price-prods {
    background-color: $dark;
    color: $light;
    width: 60px;
    height: 35px;
}

.hover-text-price:hover .info-about-prods {
    color: $golden;
}

.hover-text-price:hover .price-prods {
    background-color: $golden;
}

@media screen and (max-width: 576px) {
    .border {
        width: 262px;
        margin: 0 auto;
    }

    .quick-view {

        top: 220px;
        left: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width: 765px) {
    .border {
        width: 262px;
        margin: 0 auto;
    }

    .decoration-line::after {
        left: 160px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .border {
        width: 262px;
        margin: 0 auto;
    }

    .decoration-line::after {
        left: 160px;
    }
}

@media screen and (min-width: 1200px) {
    // .quick-view {
    //     top: 170px;
    // }

    // .add-to-cart {
    //     top: 170px;
    // }

}

.quick-img {
    padding-right: 15px;
    padding-top: 20px;
}

.quick-view-text {
    color: $dark;
    font-family: "Poppins - Semi Bold";
    font-size: 22px;
    font-weight: 400;
    line-height: 41px;
}

.about-chair {
    font-size: 14px;
}

.text-reviews {
    color: #676767;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
}

.prev-price-modal {
    color: #939393;
    font-size: 20px;
    text-decoration: line-through;
}

.now-price-block {
    width: 100px;
    height: 35px;
    background-color: black;
}

.now-price-modal {
    color: $light;
    font-size: 20px;
}

.add-to-cart-modal {
    width: 135px;
    height: 35px;
    background-color: #d58e32;
}

.text-add-to-cart-modal {
    color: $light;
    font-size: 13px;
    font-weight: 400;
    padding: 8px;
}

.fa-cart-plus {
    position: absolute;
    left: 240px;
    top: 235px;
    color: $light;
}

.text-after-cart {
    color: $dark;
    font-family: "Poppins - Semi Bold";
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}

.aviability-category-text {
    font-weight: bold;
}

.in-stock-category-text {
    font-weight: 400;
}

.social-border {
    border: 1px solid $dark;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #3b5998;
        color: $light;
    }
}

.icons-text {
    padding-left: 10px;
    margin: 0;
}

.f-categories-item {
    color: $dark;
    font-size: 13px;
    font-weight: 400;
}

.f-categories-numbers {
    background-color:$dark;
    color: $light;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
}


.filter-hover:hover .f-cat-item1-hover {
    color: $golden;
}

.filter-hover:hover .f-cat-number1-hover {
    background-color: $golden;
}

.filtered-price {
    font-weight: 300;
    padding: 2px 10px;
    color: $light;
    background-color: $golden;
    outline: none;
    border-color: $golden;
    margin-bottom: 30px;
}

.form-check-label {
    color: $dark;
    font-size: 13px;
    font-weight: 400;
}

.filter-hover:hover .form-check-label {
    color: $golden;
}

.table-chair-tag {
    border: 1px solid #959595;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.table-tag {
    color: #959595;
    padding-top: 14px;
}

.fa-tags {
    color: #959595;
}

.hand-bag-width {
    width: 115px;
}

.filter-hover-tag:hover .fa-tags {
    color: $golden;
}

.filter-hover-tag:hover .table-tag {
    color: $golden;
}

.filter-hover-tag:hover {
    border: 1px solid $golden;
}