$navbar-color: #434343;
$color-nav: #ffffff;
$modal-color: #2a2a2a;
$header: #363636;
$modal-colar-cart: #c2c2c2;

.navbar-bg{
  background-color: $navbar-color;
}
.navbar-menu{
  height: 54px;
}
.navbar-elements{
  display: flex;
  align-items: center;
}

.navbar-items{
  margin: 0 17px 0 10px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: $color-nav;
  position: relative;
  cursor: pointer;
  line-height: 1px;
  text-decoration: none;
  &:after {
    margin-top: 10px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-nav;
    content: '';
    transition: width 0.3s ease-out;
  }
  &:hover:after{
    width: 100%;
  }
  &:focus:after{
    width: 100%;
  }

}
.navbar-item{
  margin: 0 17px 0 17px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: $color-nav;
}
.navbar-link{
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: $color-nav;
  margin: 0 17px 0 17px;
  position: relative;
  cursor: pointer;
  line-height: 1px;

  &:after {
    margin-top: 10px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-nav;
    content: '';
    transition: width 0.3s ease-out;
  }
    &:hover:after{
    width: 100%;
  }
  &:focus:after{
    width: 100%;
  }
}
.header-icon{
  font-size: 15px;
  color: #ffffff;
}
.far{
  font-size: 15px;
  color: #ffffff;
}

//стилизация модульного окна
.modal-registration{
  width: 419px;
  height: 398px;
}
.modal-title{
  text-transform: uppercase;
  //margin: 64px 0 0 7px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  color: $modal-color;
  margin-left: 37px;
}
.modal-form{
  margin-left: 37px;
  margin-right: 41px;
}
.btn{
  margin-top: -18px;
  margin-right: -14px;
  width: 41px;
  height: 37px;

}

.form-control{
  width: 330px;
  height: 51px;
  //margin: 6px 0 37px 6px;
}
.modal-button{
  margin: 0 0 0 7px;
  background-color: $modal-color;
  width: 115px;
  height: 42px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
  color: $color-nav;
}
//стилизация закончена
.header{
  //display: flex;
  //justify-content: center;
  //align-items: center;
  background-color: $header;
  height: 145px;
}
.fa-mobile-alt{
  font-size: 44px;
  color: #d58e32;
  margin-right: 13px;
}

.header_link-item{
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #d8d8d8;
  position: relative;
  cursor: pointer;
  line-height: 1px;
  &:after {
    margin-top: 10px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-nav;
    content: '';
    transition: width 0.3s ease-out;
  }
  &:hover:after{
    width: 100%;
  }
  &:focus:after{
    width: 100%;
  }

}
.header_logo-item{
  width: 114px;
  height: 53px;
}

.fa-shopping-basket{
  font-size: 20px;
  color: $color-nav;
  background-color: #d58e32;
  width: 51px;
  height: 49px;

}
.basket-ziro{
  width: 29px;
  height: 29px;
  position: absolute;
  margin-left: 16px;
  margin-top: 11px;
  border-radius: 100px;
  background-color: $header;
  color: $color-nav;
}
//стилизация модульного окна
.modal-basket{
  position: relative;

}
.btn-basket{
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  width: 41px;
  height: 37px;
}


//@media (max-width: 420px) {
//  .navbar-item{
//    margin: 0 8px 0 6px;
//  }
//  .header-icon{
//    font-size: 10px;
//  }
//  .navbar-items{
//    margin: 0 8px 0 6px;
//  }
//  //header
//  .fa-mobile-alt{
//    display: none;
//  }
//  .header_link-item{
//    font-size: 11px;
//  }
//  .header_logo-item{
//    width: 96px;
//    height: 44px;
//  }
//
//
//}



