.out{
  margin-top: 45px;
}

.out-items{
  margin-top: -60px;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 40px;
  background-color: white;
  object-fit: contain;
}
.out-icon{
  border-radius: 100px;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
}
.out-elements{
  position: relative;
  width: 260px;
  height: 121px;
  border: 1px solid black;

}
.out-title{
  margin-top: 30px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  color: black;
}
.out-title__span{
  font-size: 20px;
  font-weight: 100;
}
//@media (max-width: 768px){
//   .out-elements{
//     margin: 71px 0 0 0;
//
//   }
//}


