$tabs-color: #d58e32;
$tabs-color-name: #ffff;

//стилизация кнопки бургер

.burger-menu__button{
  position: absolute;
  top:0;
  right: 0;
  z-index: 30;
  width: 80px;
  height: 80px;
  //background-color: #a8a7a7;
  transition: 0.4s;
  &:hover{
    filter: brightness(0.7);
  }
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #a8a7a7;
}
.burger-menu__lines{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.burger-menu__lines:before{
    content: '';
    top: -12px;
  }
  &.burger-menu__lines:after{
    content: '';
    top: 12px;
  }
  &:hover{
    filter: brightness(0.7);
  }
}
.burger-menu__active .burger-menu__lines{
  background-color: transparent;
}
.burger-menu__active .burger-menu__lines:after{
  top: 0;
  transform: rotate(45deg);
}
.burger-menu__active .burger-menu__lines:before{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu__nav{
  padding-top: 47px;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: column;
  //height: 100%;
  background-color: black;
  overflow-y: auto;
  right: -100%;
  transition: 0.5s;
}
.burger-menu__active .burger-menu__nav{
  top: 0;
  right: 21px;
}

.burger-menu__link{
  padding: 30px 4px 10px 90px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: $modal-colar-cart;
  &:hover{
    filter: brightness(0.7);
  }
}

//.burger-menu__overlay{
//  display: none;
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 100vw;
//  height: 100vh;
//  z-index: 10;
//}
.burger-menu__active .burger-menu__overlay{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}










// стилизация табс
.top-tabs{
  background-color: #ffffff;
  height: 85px;
  box-shadow: 0 4px 6px 0 rgba(1, 2, 2, 0.2);
}

.top__menu-search-button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.top__menu-search-input{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.top__menu-item{
  margin: 0 1px 0 1px;
  width: 75px;
  height: 84px;
}

.nav-tabs .nav-link.active{
  background-color: $tabs-color;
  color: $tabs-color-name;
  border-top: 4px solid black;
}
.nav-link{
  text-transform: uppercase;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
  padding: 0 10px 0 10px;
  height: 84px;
}









//слайдер
.top-slider{
  width: 100%;
  height: 505px;

}
.top-slider-prev{
  //position: absolute;
  margin-top: 466px;
  width: 555px;
  height: 39px;
  background-color: black;
  &:hover{
    background-color: $tabs-color;
  }
}
.top-slider-title{
  background-color: black;
  margin-top: 110px;
  width: 100%;
  height: 214px;
  opacity: 0.5;


}
//.top-slider-title{
//  position: absolute;
//  width: 1138px;
//  height: 214px;
//  //opacity: 0.5;
//}
.slider-title{
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.36;
  color: #ffffff;
  position: relative;
}
.slider-span{
  font-weight: 100;
}
.slider-title-part{
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  color: #ffffff;
  position: relative;
}
.button-title{
  position: absolute;
  margin-top: 100px;
  width: 136px;
  height: 54px;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
}

//@media (max-width: 768px) {
//  .top-slider-prev{
//    margin-bottom: -10px;
//    width: 345px;
//    height: 30px;
//  }
//  .top__menu-search-button{
//    margin-top: 30px;
//  }
//  .top__menu-search-input{
//    margin-top: 30px;
//  }
//
//}
//@media (max-width: 420px) {
//  .top-tabs{
//    display: none;
//  }
//}








