@import '../../../styles/scss/index';

.product {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(2, 490px);
    @media only screen and (max-width : 1000px){
        grid-template-columns: repeat(auto-fill, 480px);
    }
    @media only screen and (max-width : 1000px){

    }
    @media only screen and (max-width : 480px){
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &-navigation{
        font-size: 14px;
    }

    &-name{
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;

        font-weight: 700;
        font-size: 30px;
        color: $color-black;

        @media only screen and (max-width : 767px){
            grid-column: auto;
        }
    }

    .decoration-line{
        margin: 0 0 0 0;
        grid-column: 1/3
    }
}

.product-change-count{

}
