@import "../../../../styles/scss/basic-style";
@import '../../../../styles/scss/index';

.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  overflow: hidden;
  line-height: 0;
  & .containerImageCard{
    @include flex-align-items;
    width: 245px;
    height: 245px;
  }
  & .productImage{
    width: 230px;
    height: 230px;
    transition: all 0.5s ease 0s;
    &:hover{
      transform: scale(1.1, 1.1) rotate(0deg);
      opacity: 0.5;
    }
  }
  & .cardProduct-button {
    @include button;
      @include btn-transition;
      &:hover{
          background-color: #03993a;
      }
      &:focus{
          background-color: $color-gray-2;
      }
  }
  & .price{
    @include price
  }
  & .cardProduct-name{
    @include description-text
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
  .cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    line-height: 0;
    & .containerImageCard{
      @include flex-align-items;
      width: 200px;
      height: 200px;
    }
    & .productImage{
      width: 180px;
      height: 180px;
      transition: all 0.5s ease 0s;
      &:hover{
        transform: scale(1.1, 1.1) rotate(0deg);
        opacity: 0.5;
      }
    }
    //& .cardProduct-button {
    //  @include button
    //}
    //& .price{
    //  @include price
    //}
    //& .cardProduct-name{
    //  @include description-text
    //}
  }



}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}


