@import "../../../styles/scss/basic-style";
.allProductsContainer{
  max-width: 1200px;
  margin: 0 auto;
  //display: grid;
  //grid-template-columns: 200px 1000px;

  display: flex;
  justify-content: space-between;
}
.buttonFilter{
  display: none;
}
.category-container{
  position: relative;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
}
.categoryPreloaderStyle {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 1001;
}
  .preloader-5 {
    top: 20%;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #007042;
    animation: preloader-5-spin 2s linear infinite;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #AFDFC2;
      animation: preloader-5-spin 3s linear infinite;
    }
    &::after{
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #3c9a9a;
      animation: preloader-5-spin 1.5s linear infinite;
    }
  }


@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
  .allProductsContainer{
    margin: 0 0 0 30px;
    width: 700px;
  }
  .category-container{
    width: 700px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }
  .buttonFilter{
    display: none;
  }


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .allProductsContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .category-container{
    width: 300px;
    display: grid;
    grid-template-columns: 150px;
  }
  .buttonFilter{
    display: block;
  }


}
