@import '../../../../styles/scss/index';

.product-info {
    max-width: 500px;
    display: grid;
    grid-auto-rows: auto;

    &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-price {
            font-size: 40px;
            font-weight: 800;
            color: $color-green-1;
        }

        &-number {
            font-size: 14px;
            color: $color-gray-1;
        }
    }

    &-size {
        &-heading {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &-options {
        display: grid;
        grid-template-columns: repeat(auto-fill, 242px);
        grid-template-rows:repeat(2, 80px);
        grid-gap: 10px;
        align-items: center;

        &-color {
            &-heading {
                font-size: 20px;
                font-weight: 700;
            }

            &-select {
            }
        }

        &-upholstery {
            &-heading {
                font-size: 20px;
                font-weight: 700;
            }

            &-select {
            }
        }

        &-quantity {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &-basket {
            &-button {
                width: 242px;
                height: 46px;

                box-sizing: border-box;
                border-radius: 3px;

                font-size: 20px;
                font-weight: 700;

                text-transform: uppercase;

                background-color: $color-green-1;
                color: $color-white;
            }
        }
    }
}
