@import "../../../styles/scss/basic-style";
@import '../../../styles/scss/index';

.containerDrop{
  display: none;
}
.container-mobile-content_elements{
  display: none;

}

.header-container {
  background-color: white;
  width: 100%;
  &_item {
        @include flex-align-items;
        .container-content {
          width: 1200px;
          display: flex;
          justify-content: space-between;
          align-items: center;
            //@include content;
            //@include flex-center;
        }
        .container-mobile-content{
            display: none;
            //margin-top: 120px;
            .fa-bars{
                color: #57646E;
                position: absolute;
                margin-left: 50px;
                margin-top: 28px;
            }
            &_nav{
                display: none;
                background-color: white;
                transition: opacity;
                border: 1px solid #D3D7DA;
                list-style: none;
                font-size: 12px;
                width: 320px;
                //margin-top: 300px;
                //width: 75px;
                //padding: 15px 10px 15px 15px;
                text-align: center;
                .link{
                    text-decoration: none;
                    color: black;
                }
            }
            &_nav.active{
                display: block;
            }
            &-language{
                //margin-left: 25px;
                //margin-top: 25px;
            }
        }
    }

    &_elements {
        display: flex;
        padding: 0;
    }

    &_links {
        list-style-type: none;
        margin: 0 15px 0 0;
        font-family: Open Sans, sans-serif;
        font-size: 12px;

        & .link {
            text-decoration: none;
            color: #000000;
        }
    }

    &_middle {
        margin: 0 auto;
        max-width: 1200px;
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      //position: relative;
        &_items {
          max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &_cart{
                height: 35px;
                font-size: 30px;
                padding: 10px;
                border-radius: 50%;
                color: $color-gray-2;
            }

            &_cart:hover{
                background-color: #AFDFC2;
            }

            &_count{
                position: absolute;
                top: 3px;
                right: 0;

                width: 21px;
                height: 21px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 12px;
                border-radius: 50%;
                background-color: $color-green-1;
                color: $color-white;
            }
        }
    }

    &-categories {
        width: 100%;
        height: 45px;
        background-color: $color-gray-1;
        margin-bottom: 38px;

        &-label {
            height: 100%;
            max-width: 1200px;
            box-sizing: border-box;

            display: flex;
            justify-content: space-evenly;

            margin: 0 auto;

            &-name {
                padding: 12px 31px;

                text-decoration: none;
                color: $color-white;

            }

            &-name:hover{
                background-color: $color-white;
                color: $color-gray-2;
            }
        }
    }
}

@media only screen and (max-width : 767px) {
  .container-mobile-content_elements{
    display: none;
  }

  .container-mobile-content-dropdown{
    display: none;
  }
    hr{
        display: none;
    }
    .header-container {
        margin-top: 20px;
        &_item {
            .container-content {
                display: none;
            }
            .container-mobile-content {
                display: block;
                &-dropdown{
                   //position: absolute;
                    //left: 55px;
                    //top: 25px;
                    .container{
                        width: 100px;
                    }
                }
                &_elements{
                    //z-index: 1001;
                    //position: absolute;
                    //top: 50px;
                    //right: 200px;
                }
            }
        }
        .logo-container{
            .active{
                width: 0;
            }
            .logo-little{
                //width: 100px;
                //margin-left: 100px;
            }
        }
        &_middle {
            //width: 320px;
            &_items_cart{
                //margin-right: 30px;
            }
        }
        &-categories{
            padding-bottom: 10px;
            &-label{
                &-name{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .containerDrop{
    display: none;
  }
  .header-container_middle{
    //width: 768px;
  }
  .header-container_middle_items{
    //width: 768px;
  }
    .header-container{
        &_elements{
            //margin-left: 30px;
            //margin-top: 15px;
        }
        &_language{
            //margin-right: 30px;
        }
        &_middle{
            //width: 768px;
            &_items_cart{
                //margin-right: 35px;
            }
        }
        .logo-container{
            //margin-left: 20px;
            //width: 100px;
        }
    }
}
@media only screen and (max-width: 767px) {
  .header-container_middle{
    max-width: 767px;
  }
  .header-container_middle_items{
    max-width: 767px;
  }
  .containerDrop{
    display: block;

  }

}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .header-container{
    position: relative;
    margin-top: 0;

  }
.container-content{
  display: none;

}
  .header-container-categories{
    height: 35px;
  }
  .header-container_middle{
    display: flex;
    justify-content: center;
    //width: 320px;
  }
  .header-container_middle_items{
    //width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .containerDrop{
    display: block;
    width: 30px;

  }
  .logo-little{
    width: 80px;
    height: 40px;
  }
  .header-container_middle_items_cart{
    padding: 0;
    //padding: 0;
    //margin: 0;
    //width: 27.97px;
    //height: 18.35px;
  }
  .container-mobile-content{
    display: block;
    position: absolute;
    margin-top: 200px;

    //width: 300px;
    //background-color: #FFFFFF;
  }
}
