@import "../../styles/scss/basic-style";

.logo-container{
  display: flex;
  align-items: center;
  //width: 450px;
}
.header-container_numbers{
  display: flex;
  justify-content: space-between;
  width: 291px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
.logo-container{
  //width: 100px;

}


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .logo-container{
    width: 80px;
    height: 40px;

  }


}
