.containerPreloader{
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 1001;
}

.preloader-5 {
  top: 50%;
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #007042;
  animation: preloader-5-spin 2s linear infinite;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #AFDFC2;
    animation: preloader-5-spin 3s linear infinite;
  }
  &::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3c9a9a;
    animation: preloader-5-spin 1.5s linear infinite;
  }
}
@keyframes preloader-5-spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

