@import '../../../../styles/scss/index';

.product{
    &-characteristics {
        display: grid;
        grid-template-columns: 78px 400px;
        grid-gap: 13px 24px;
        grid-column: 1/3;
        margin-bottom: 42px;

        &-heading{
            font-size: 20px;
            font-weight: bold;
            color: $color-black;
            grid-column: 1/3;
        }

        &-type{
            font-weight: normal;
            font-size: 14px;
            color: $color-gray-1;
        }
        &-description{
            font-weight: normal;
            font-size: 14px;
            color: $color-black;
        }
    }
}
