@import "src/styles/scss/index";
.user{

    &-setting {
        display: grid;
        grid-template-columns: 306px;
        grid-template-rows: repeat(3, 68px);

        margin: 0 102px 0 0 ;

        @media screen and(max-width: 1000px){
            margin: 0 0 0 0 ;
        }

        &-navbar {
            @include flex-center;
            box-sizing: border-box;

            background-color: #F5F5F5;
            color: #000000;
            border: 1px solid $color-gray-3;

            padding: 0 0 0 35px;

            font-weight: normal;
        }

        &-navbar.active{
            background-color: $color-gray-3;

            font-weight: bold;
        }
    }
}
